/* Manager Tables */
.manager-tables{
    border: 2px solid black;
    margin: 25px 45px 0px;
    width: auto;
    
}
.manager-tables thead tr{
    background-color:rgb(193, 151, 233);
    color: black;
    text-align: center;
    font-weight: bold;
}
.manager-tables th, .manager-tables td{
    padding: 15px;
}
.manager-tables tbody tr{
    text-align: center;
}
.manager-button{
    background-color: burlywood;
    border: none;
    cursor: pointer;
}
.manager-button a{
    text-decoration: none;
}
.manager-tables a{
    text-decoration: none;
}
.manager-div{
    width: 360px;
    padding: 10% 0 0;
    margin:auto;
}
.manager-div-form{
    border: 1px solid blueviolet;
    max-width: 360px;
    text-align: center;
}
.manager-form input{
    
    background: rgb(227, 191, 243);
    width: 100%;
    border:0;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}
.manager-form .message2{
    margin: 5px 0 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.add-new-food{
    margin-left: 50px;
    padding: 10px;
    background-color: rgb(226, 215, 240);
    width:500px;
    text-align: center;
}

.manager-home-container{
    display: flex;
    margin-left: 25%;
    margin-top: 2%;
   
}
.manager-home-left{
   padding: 30px;
    background-color: rgb(255, 218, 252);
}
.manager-home-right{
    padding: 20px;
    background-color: rgb(251, 245, 253);
}
.manager-header{
    text-align: center;
}